.Title_Row{
    display: flex;
    justify-content: center;
    font-family:"Helvetica";
    font-size: 35px;

}

.Prompt{
    display: flex;
    justify-content: center;
    font-family: "Helvetica";
    font-size: 20px;
    
    
}

.artist_name{
    display:flex;
    justify-content: center; 
}

.artist_photos{
    display: flex;
    flex-wrap: wrap;
}
.artist_photos img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.photo_marquee{
    white-space: nowrap;
    width: 100%;
}

.marquee_content{
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.artist_photos{
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(0); /* Start from the left */
    }
    100% {
        transform: translateX(-50%); /* Move to the left by half of the total width */
    }
    
}