.Title_Row{
    display: flex;
    justify-content: center;
    font-family:"Helvetica";
    font-size: 35px;

}

.Prompt{
    display: flex;
    justify-content: center;
    font-family: "Helvetica";
    font-size: 20px;
    
    
}

.Submission{
    display:flex;
    justify-content: center; 
}

.arist_photos{
    display: flex;
    flex-wrap: wrap;
}
.artist_photos img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.photo_marquee{
    overflow: hidden;
    animation: linear infinite
}